<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My Start Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<script src="webjars/angularjs/1.6.6/angular.js"></script>
	<script src="webjars/angularjs/1.6.6/angular-route.js"></script>
	<script src="webjars/angularjs/1.6.6/angular-resource.js"></script>
	<script src="../../js/app.js"></script>
</head>
<body data-ng-app="ngapp">
	<div ng-include="'login.html'"></div>
	<div ng-include="'menu.html'"></div>
	<div class="container">
		<div ng-view=''>
		</div>
	</div>
</body>
</html>